@media screen and (min-width: 1023px){
  .s3d-fv, .s3d-pl {
  }
}

@media screen and (max-width: 1600px) {
  .s3d-fv, .s3d-pl{
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
      grid-gap: 27px;
    }
    &__amount-flat {
      font-size: 12px;
    }
    &__not-found {
      padding: 10px 0;
      margin-top: 20px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d-fv, .s3d-pl{
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: '.'
    'content';
    padding-right: var(--offset-controller-hor);
    padding-left: var(--offset-controller-hor);
    height: 100%;

    &__list {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-gap: 16px;
      margin-top: 20px;
    }
    &__title {
      text-align: right;
    }
    &__amount-flat {
      margin: 0 0 0 auto;
    }
    &__not-found {
      padding: 10px 0;
      margin-top: 15px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 680px) {
  .s3d-fv, .s3d-pl{
    grid-template-rows: 20px 1fr;
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
      grid-gap: 10px;
      margin-top: 15px;
    }
    &__not-found {
      padding: 5px 0;
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
