@media screen and (min-width: 1023px) {
  .s3d-filter {
    &__checkbox {
      &:hover input:not(:checked) + label {
        border-color: $color1;
      }

    }
    &__reset {
      &:hover {
        color: $color4;
        svg {
          fill: $color4;
        }
      }
    }
    &__hide {
      &:hover {
        color: $color4;
        &:after {
          border-bottom: 3px solid $color4;
        }
      }
    }
    &__th {
      &:hover:not([data-sort='none']) {
        color: $color4;
        cursor: pointer;
        .s3d-sort__arrow {
          fill: $color4;
        }
      }
    }
    &__tr {
      &:hover {
        background-color: $color1;
        .s3d-filter__td {
          color: $color2;
        }
        .s3d__favourite {
          stroke: $color4;
        }
      }
    }
    &__close:hover {
      transform: rotate(90deg)scale(1.2);
    }
  }
  .s3d-sort__arrow {

  }
}

@media screen and (max-width: 1600px) {
  .s3d {
    &-filter {
      &-wrap {
        --mini-info-fz: 10px;
        --table-th-fz: 10px;
        --table-td-fz: 12px;
        --checkbox-fz: 12px;
        --reset-fz: 12px;
        --amount-fz: 12px;
        --filter-title-fz: 18px;
        --filter-title-margin-bottom: 17px;
        --mini-info-height: 53px;
        --filter-table-offset-top: 10px;
      }
      &__row {
        margin-bottom: 17px;
        &__title {
          font-size: 12px;
        }
      }
      &__checkbox {
        margin-right: 10px;
        label {
          height: 40px;
          width: 40px;
        }
        &--label-wide label {
          width: max-content;
        }
      }
      &__top {
        padding-bottom: 40px;
      }
      &__hide {
        padding: 1px 27px 8px;
      }
      &__th {
        padding-bottom: 10px;
      }
      &__favourite {
        height: calc(16px * 2);
        width: calc(18px * 2);
      }
      &__reset {
        &-icon {
          width: 11px;
          height: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .s3d {
    &-filter {
      &-wrap {
        --mini-info-fz: 10px;
        --filter-title-fz: 16px;
        --filter-title-margin-bottom: 15px;
        --table-th-fz: 10px;
        --table-td-fz: 12px;
        --checkbox-fz: 12px;
        --checkbox-size: 40px;
        --reset-fz: 11px;
        --amount-fz: 12px;
        --mini-info-height: 47px;
        width: 100%;
      }
      &__row {
        margin-bottom: 13px;
        &__title {
          font-size: 12px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
      &__checkbox {
        margin-right: 10px;
      }
      &__top {
        padding-bottom: 25px;
      }
      &__hide {
        padding: 1px 22px 8px;
      }
      &__close {
        &-wrap {
          transform: translate(0, -25%);
        }
      }
      &__favourite {
        height: calc(16px * 2);
        width: calc(18px * 2);
      }
      &__reset {
        &-icon {
          width: 11px;
          height: 14px;
        }
        &-mobile {
          display: flex;
          margin: 0 20px 0 0;
        }
        &-desktop {
          display: none;
        }
      }
      &__apply {
        display: flex;
        flex: 1 1 50%;
      }
    }
  }
}
