@media screen and (min-width: 1023px) {
  .s3d {
    &__callback {
      &:hover {
        .s3d__callback-icon {
          background-color: $color6;
        }
      }
    }
    &-show-in-3d {
      &:hover {
        .s3d-show-in-3d {
          &__icon {
            border-color: $color1;
          }
          &__text {
            color: $color1;
          }
        }
      }
    }
    &__favourite {
      &:hover {
        border-color: $color1;
        svg {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }
    &__close {
      &:hover{
        transform: rotate(180deg);
      }
    }
    &-header {
      .s3d__favourite {
        &:hover {
          fill: $color1;
        }
      }
    }
  }
}


@media screen and (max-width: 1600px) {
  .s3d {
    &__compass {
      width: 60px;
      height: 60px;
    }
    &-show-in-3d {
      &__text {
        margin-left: 20px;
      }
    }
    &__back {
      &--text {
        font-size: 12px;
      }
      &--icon {
        margin-right: 15px;
        svg {
          height: 13px;
          width: 7px;
        }
      }
    }
  }

  .peculiarities {
    margin-top: -15px;
  }
  .tippy-box {
    padding: 0 25px;
  }
  .peculiarity {
    height: 40px;
    width: 40px;
    margin: 15px 15px 0 0;
  }
  .s3d-header {
    --mrgn-btn: 30px;
    &__logo {
      width: 160px;
    }
    &__btn {
      flex: 0 1 220px;
      height: 50px;
      svg {
        width: 12px;
      }
    }
    .s3d-burger {
      &__icon {
        height: 60px;
        width: 60px;
        margin-left: 20px;
        svg {
          height: 14px;
          width: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .s3d-header {
    &__btn--phone {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d-mobile .s3d__wrapper__flat {
    overflow: auto;
  }
  .s3d__slideModule{
    padding: 0 0 60px;

  }
  .s3d__wrap{
    height: calc(100% - 60px);
  }
  .s3d {
    &__callback {
      &-icon {
        margin-right: 20px;
      }
    }
    &__back {
      display: none;
    }
    &-header {
      &__logo {
        height: 60px;
        &-container {
          width: auto;
        }
      }
      &__btn {
        font-size: 12px;
      }
      .s3d-burger {
        &__icon {
          height: 50px;
          width: 50px;
          margin-left: 17px;
          svg {
            height: 12px;
            width: 10px;
          }
        }
      }
    }
  }
  .peculiarities {
    display: none;
  }

}

@media screen and (max-width: 680px) {
  .s3d__slideModule{
    padding: 0 0 40px;
  }
  .s3d__wrap{
    height: calc(100% - 40px);
  }
  .s3d {
    &__compass {
      width: 40px;
      height: 40px;
    }
    &-show-in-3d {
      &__text {
        margin-left: 15px;
      }
    }
    &__callback {
      &-icon {
        margin-right: 15px;
      }
    }
    &-header {
      --mrgn-btn: 10px;
      &__logo {
        height: 40px;
        width: 110px;
      }
      &__btn {
        height: 40px;
        width: 40px;
        flex: 0 0 auto;
        &--callback {
          display: none;
        }
        &--phone {
          display: flex;
        }
        &--text {
          display: none;
        }
      }
      .s3d-burger {
        &__icon {
          height: 40px;
          width: 40px;
          margin-left: 0;
          svg {
            height: 10px;
            width: 8px;
          }
        }
        &__text {
          display: none;
        }
      }
      .s3d__favourite {
        &-count {
          height: 14px;
          width: 14px;
          font-size: 9px;
        }
      }
    }
  }
}
