@media screen and (min-width: 1023px) {
  //.s3d__favourites {
    //&:hover{
    //  svg{
    //    transform: scale(1.2);
    //  }
    //}
  //}
}

//@media screen and (max-width: 1600px) {
//  .s3d-fv{
//    &__bg {
//      width: 400px;
//    }
//  }
//}

@media screen and (max-width: 992px) {
  .s3d-fv{
    &__bg {
      display: none;
    }
    &__title {
      text-align: left;
    }
    &__amount-flat {
      margin: 0 auto 0 0;
    }
  }
}
