.irs {
  --irs-height: 40px;
  --irs-point: 16px;
  --irs-fz: 16px;
  --irs-color-text: #{$color1};
  --irs-color-bg-line: #{$color3};
  --irs-color-bar: #{$color1};
  --irs-color-point: #{$wc};
  --irs-color-point-stroke: #{$color1};

  height: var(--irs-height);
  &--flat .irs-line{
    height: 1px;
    top: calc(var(--irs-point) / 2);
    background: var(--irs-color-bg-line);
  }
  &--flat .irs-bar {
    top: calc(var(--irs-point) / 2);
    height: 1px;
    background: var(--irs-color-bar);
  }
  &--flat .irs-handle {
    top: 0;
    width: var(--irs-point);
    height: var(--irs-point);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    transition: transform 0.4s ease-in-out;
  }
  &--flat .irs-handle > i:first-child {
    width: 100%;
    position: static;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--irs-color-point);
    border: 1px solid var(--irs-color-point-stroke);
  }
  &--flat .irs-from, &--flat .irs-to, &--flat .irs-single {
    color: var(--irs-color-text);
    font-size: var(--irs-fz);
    line-height: 1.3em;
    top: calc(var(--irs-point) + 2px);
    background: none;
    &:before {
      display: none;
    }
  }
}
