.s3d-fv, .s3d-pl{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: '. . content';
  grid-template-columns: var(--filter-width) var(--offset-controller-hor) auto;
  grid-template-rows: 100%;
  background: linear-gradient(135.43deg, #FFFDF3 0%, #F0EEE3 99.99%);
  overflow: hidden;
  padding-top: var(--s3d-header);
  padding-right: var(--offset-controller-hor);
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 13px;
    width: calc(var(--offset-controller-hor) + 100%);
    flex: 1 1 auto;
    padding: 0 calc(var(--offset-controller-hor) / 2) var(--offset-controller-vert);
    overflow-y: auto;
    margin: 25px calc(-1 * var(--offset-controller-hor) / 2) 0;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background: #8F9393;
    }
    &::-webkit-scrollbar-thumb {
      background: $color1;
      -webkit-box-shadow: none;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: $color1;
    }
  }
  &__plane{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    transition: box-shadow .5s ease-out;
  }
  &__container {
    grid-area: content;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;
    overflow: hidden;
  }
  &__title {
    width: 100%;
    font-size: var(--s3d-title);
    font-family: $default-font2;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    color: $color1;
  }
  &__amount-flat {
    display: flex;
    align-items: center;
    text-transform: inherit;
    margin: 0 auto 0 0;

    font-size: 16px;
    color: $color3;
    &__num {
      margin: 0 0.5ch;
    }
  }
  &__not-found {
    padding: 15px 0;
    margin-top: 30px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    color: $color1;
  }
}
