.s3d {
  &__svgWrap {
    z-index: 51;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: transparent;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &.s3d__svg__active {
      z-index: 55;
      svg {
        opacity: 1;
        visibility: visible;
        pointer-events: painted;
      }
    }


  }

  &__svg-container {
    z-index: 55;
    display: block !important;
  }
}

.s3d-svg__build, .s3d-svg__house {
  cursor: pointer;
  &[data-type="infrastructure"],
  &[data-type="sold"] {
    cursor: no-drop;
  }
  &[data-type="flyby"] {
    cursor: pointer;
    fill: #0951be;
    opacity: 0.15;
  }
  &[data-type="flat"],
  &[data-type="floor"],
  &[data-type="section"] {}
}

.polygon__filter-select {
  fill: #0951be;
  opacity: 0.3;
}

.polygon__flat-svg {
  fill: $color5;
  opacity: .7;
}
.polygon__active-flat:not(.s3d__active) {
  fill: rgba(239, 188, 72, 0.7);
}
.polygon__selected:not(.s3d__active) {
  opacity: 0.7;
}
