.s3d {
  &-flat {
    display: grid;
    grid-template-columns: var(--filter-width) var(--offset-controller-hor) 1fr var(--size-btn-circle) var(--offset-controller-hor) var(--filter-width);
    grid-template-rows: var(--s3d-header) auto 1fr auto 50px;
    grid-auto-flow: dense;
    grid-template-areas: '. . . . . .'
    'flatInfo . showIn3d showIn3d . floorInfo'
    'flatInfo . img img . floorInfo'
    'flatInfo . callback callback . floorInfo'
    '. . . . . .';
    width: 100%;
    height: 100%;
    background: linear-gradient(135.43deg, #FFFDF3 0%, #F0EEE3 99.99%);

    &__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      &-container {
        grid-area: flatInfo;
        display: grid;
        grid-gap: 30px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        height: min-content;
        max-height: calc(100% - 300px);
        padding: 50px var(--offset-controller-hor) 0;
        overflow: hidden;
        z-index: 3;
      }
    }
    .s3d-info {
      &__table {
        flex: 1 1 auto;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: none;
          background: #8F9393;
        }
        &::-webkit-scrollbar-thumb {
          background: $color1;
          -webkit-box-shadow: none;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: $color1;
        }
        table {
          width: 100%;
        }
      }
    }
    &__floor {
      grid-area: floorInfo;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 50px var(--offset-controller-hor) 0;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: span 2;
      flex: 1 1 auto;
      height: 100%;
      //height: initial;
      transition: height 0.4s linear;
      overflow: hidden;
      &-container {
        display: flex;
        flex-direction: column;

        //height: calc(100% - 40px);
        width: 100%;
        margin: 40px auto 0;
        padding: 0;
        grid-area: img;
        overflow: hidden;
      }
      img {
        display: inline-block;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
        max-height: 100%;
        max-width: 100%;
        height: initial;
        width: initial;
      }
    }
    &__bg {
      @extend .s3d-floor__bg;
    }
    &__border {
      &-horizontal {
        @extend .s3d-floor__border-horizontal;
      }
      &-vertical {
        @extend .s3d-floor__border-vertical;
      }
    }
    &__pdf {
      grid-area: pdf;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: var(--size-btn-circle);
      width: var(--size-btn-circle);
      transition: border 0.3s ease-in;
      text-decoration: none;
      grid-row: 4;
      grid-column: 3 / 5;
      margin: 40px 0 0 auto;
      border-radius: 50%;
      border: 1px solid $border-color;
      z-index: 2;

      font-family: $default-font;
      font-size: 16px;
      line-height: 1.3em;
      font-weight: 500;
      color: $color1;
      text-transform: uppercase;
    }

    &__buttons {
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 30px 0 0;
      padding: 0;
      z-index: 1;
      border-radius: 20px;
      overflow: hidden;
      background: $color2;
      &-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
      }
      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;
        overflow: hidden;
        border-radius: 25px;
        z-index: 0;
        svg {
          height: 100%;
          width: 200%;
          flex: 1 0 200%;
          fill: $color5;
        }
      }
    }
    &__buttons-view {
      justify-content: center;
      align-content: center;
      height: 25px;
      margin-top: 40px;
      //margin: auto 0 10px auto;
      display: none;
      input {
        display: none;
        &:checked + span {
          color: $color5;
        }
      }

      &.show {
        display: flex;
      }
    }
    &__radio {
      cursor: pointer;
      pointer-events: painted;

      font-size: 14px;
      font-family: $default-font;
      font-weight: 500;
      line-height: 1.3em;
      color: $color1;
      transition: color 0.4s ease-in-out;
    }
    &__button {
      display: flex;
      height: auto;
      flex: 1 0 20%;
      padding: 12px 30px;
      width: 30%;
      margin: 0;
      z-index: 3;
      cursor: pointer;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
        font-family: $default-font;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.3em;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      }
      &-input {
        display: none;
        &:checked~span{
          text-decoration: none;
          cursor: no-drop;
        }

      }
      &.show {
        display: flex;
        pointer-events: painted;
        visibility: visible;
        opacity: 1;
        &:nth-last-child(1) span{
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }
        &:nth-child(1) span{
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
        }
      }
    }
    &__select {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 43px;
      height: 25px;
      margin: 0 15px;
      background: $color2;
      border-radius: 20px;
      padding: 2px;
      overflow: hidden;
      cursor: pointer;
      &-circle {
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background: $wc;
      }
      i {
        transition: transform 0.4s ease-in-out;
      }
      input + i {
        transform: translateX(0);
      }

      input:checked + i{
        transform: translateX(100%);
      }
    }
    &__to--floor {
      display: flex;
      align-items: center;
      border: none;
      background: none;
      padding: 0;

      font-family: $default-font;
      font-size: var(--link-fz-flat);
      line-height: 1.3em;
      font-weight: 500;
      height: var(--size-btn-circle);
      color: $color1;
      cursor: pointer;
      transition: color 0.4s ease-in-out;
      &-icon {
        display: flex;
        align-items: center;
        width: 56px;
        height: 14px;
        margin-left: 25px;
        svg {
          stroke: $color1;
          transform: translateX(0);
        }
      }
    }
    &__polygon {
      fill: rgba(239, 188, 72, 0.4);
      &:not([data-sold='true']) {
        cursor: pointer;
      };
      &[data-sold="true"] {
        fill: rgba(160,166,174,.3);
      }
      &-active {
        fill: rgba(42, 51, 65, 0.3);
      }
    }
    .s3d__compass {
      align-self: flex-start;
      order: -1;
    }
    .s3d__callback {
      grid-area: callback;
      justify-self: flex-start;
      margin: 40px 0 0;
      z-index: 2;
    }
    .s3d-show-in-3d {
      grid-area: showIn3d;
      margin-top: 50px;
      align-self: flex-start;
      z-index: 2;
    }
    &__3d-tour {
      grid-area: 4 / 1;
      margin-left: 230px;
      margin-top: 40px;
      margin-right: auto;
      align-self: flex-start;
      z-index: 2;
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      text-decoration: none;

      font-family: $default-font;
      color: $color1;
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size-btn-circle);
        width: var(--size-btn-circle);
        background: $color5;
        border: none;
        border-radius: 50%;
        transition: border 0.4s ease-in-out, background-color 0.4s ease-in-out;
        svg {
          height: 40%;
          width: 30%;
          stroke: $wc;
          fill: transparent;
        }
      }
      &__text {
        font-size: var(--link-fz-flat);
        line-height: 1.3em;
        font-weight: 500;
        margin-left: 25px;
      }
    }
    .s3d__favourite {
      grid-row: 2;
      grid-column: 3 / 5;
      margin: 50px 0 0 auto;
      border-radius: 50%;
      border: 1px solid $border-color;
      transition: border 0.4s ease-in-out;
      z-index: 2;
    }
    .s3d-floor__svg {
      margin: 0;
    }
  }
}

img.mfp-img{
  background: #ffffff;
  max-height: calc(90% - 50px);
  max-width: calc(90% - 50px);
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
  top: -50px;
  right: -50px;
  color: #ffffff;
}



