@keyframes s3dAnimateArrowHelperGif {
  from {
    transform: translateX(0);
  }
  95%, to {
    transform: translateX(30%);
  }
}

@keyframes s3dAnimateArrow {
  0%, 10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  90%, 100% {
    transform: translateX(0);
  }
}

@keyframes s3dPulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 82, 117, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(246, 82, 117, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 82, 117, 0);
  }
}

@keyframes intervalHamburgerBorder {
  0%, 50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@keyframes logo {
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(1.15);
  }
  to{
    transform: scale(1);
  }
}
